<div class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-around">
<div>
<%= link_to  "Home", pmtool_home_path%>
</div>
<div>
<%= link_to  "About", pmtool_about_path%>
</div>
</div>